/* Stat Separator */
.stat-separator {
    width: 1px;
    height: auto;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.1);
}

/* Brand Logo */
.brand-logo {
    width: auto;
    object-fit: contain;
}
